@model WebAppEs.ViewModel.Home.DashboasrViewModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Home Page";
}

<div class="x_panel shadow p-3 mb-5 bg-white rounded">
    <div class="container">
        <div class="x_title">
            <h2>Dashboard</h2>
            <div class="nav navbar-right panel_toolbox">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div style="" class="container">

                <div style="height:1700px" class="row">
                    <div class="col-md-12">
                        <div style="overflow:scroll" id="myDiv" class="x_panel">
                            <div class="x_title">
                                <h2>Daily report</h2>
                                <div class="filter">
                                    <button style="float:right" class="btn btn-warning" id="theButton"><i class="fa fa-expand"></i></button>
                                    <div id="" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px;">
                                        <input id="txtFilterDate" asp-for="Date" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div style="padding:10px" class="row shadow-lg bg-white rounded">
                                    <table class="table table-sm table-striped table-bordered center">
                                        <thead style="background-color: #323232; color: wheat;">
                                            <tr style="text-align:center">
                                                <th>Line</th>
                                                <th>Model</th>
                                                <th>Functional Fault(%)</th>
                                                <th>Aesthetic Fault(%)</th>
                                                <th>Total Fault(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="text-align:center">
                                                <th scope="row">Line 1</th>
                                                <td>MH22</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                            </tr>
                                            <tr style="text-align:center">
                                                <th scope="row">Line 2</th>
                                                <td>MH22</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                            </tr>
                                            <tr style="text-align:center">
                                                <th scope="row">Line 3</th>
                                                <td>MH22</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                                <td>6.15</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row shadow-lg bg-white rounded" style="margin-top:10px">
                                    <div class="col-md-12">
                                        <canvas id="myChart" width="400" height="100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- top tiles -->


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/ZingChart/zingchart.min.js"></script>
    <script>

        $(document).ready(function () {
            var LoadDataForChartLavel = @Json.Serialize(Model.Lavel.LavelName);
            var Functional = @Json.Serialize(Model.FaultPercentageForChartWithFunAes.Functional);
            var Aesthetic = @Json.Serialize(Model.FaultPercentageForChartWithFunAes.Aesthetic);

            loadChartByFilter(LoadDataForChartLavel, Functional, Aesthetic);

            $('#txtFilterDate').on('change', function () {
                //alert($('#txtFilterDate').val().trim());
                var data = {
                    Date: $('#txtFilterDate').val().trim(),
                    }
                    $.ajax({
                        data: data,
                        url: '@Url.Action("LoadChartDataBayFilter", "Home")',
                        type: 'GET',
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (result) {
                            if (result != null) {
                                console.log(result.lavel.lavelName);
                                console.log(result.faultPercentageForChartWithFunAes.functional);
                                console.log(result.faultPercentageForChartWithFunAes.aesthetic);
                                loadChartByFilter(result.lavel.lavelName, result.faultPercentageForChartWithFunAes.functional, result.faultPercentageForChartWithFunAes.aesthetic);
                               
                            }
                        }
                    });
            });

        });



        function loadChartByFilter(lavel, functionaldata, aestheticdata) {

            var data = {
                labels: lavel,
                datasets: [
                    {
                        label: "Functional",
                        backgroundColor: "#3e95cd",
                        data: functionaldata
                    }, {
                        label: "Aesthetic",
                        backgroundColor: "#8e5ea2",
                        data: aestheticdata
                    }
                ]
            };


            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: 'Line Wise Fault % (10.30.2021)'
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    animation: {
                        duration: 500,
                        easing: "easeOutQuart",
                        onComplete: function () {
                            var ctx = this.chart.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset) {
                                for (var i = 0; i < dataset.data.length; i++) {
                                    var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                                        scale_max = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._yScale.maxHeight;
                                    ctx.fillStyle = '#444';
                                    var y_pos = model.y - 5;
                                    // Make sure data value does not get overflown and hidden
                                    // when the bar's value is too close to max value of scale
                                    // Note: The y value is reverse, it counts from top down
                                    if ((scale_max - model.y) / scale_max >= 0.93)
                                        y_pos = model.y + 20;
                                    ctx.fillText(dataset.data[i] + "%", model.x, y_pos);
                                }
                            });
                        }
                    }
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#theButton').click(function () {
                //$('#myDiv').toggleClass('fullscreen');
                if (
                    document.fullscreenElement ||
                    document.webkitFullscreenElement ||
                    document.mozFullScreenElement ||
                    document.msFullscreenElement
                ) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                } else {
                    element = $('#myDiv').get(0);
                    if (element.requestFullscreen) {
                        element.requestFullscreen();
                    } else if (element.mozRequestFullScreen) {
                        element.mozRequestFullScreen();
                    } else if (element.webkitRequestFullscreen) {
                        element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (element.msRequestFullscreen) {
                        element.msRequestFullscreen();
                    }
                }

            });
        });
    </script>
}


<style>
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

        .card-counter:hover {
            box-shadow: 4px 4px 20px #DADADA;
            transition: .3s linear all;
        }

        .card-counter.primary {
            background-color: #007bff;
            color: #FFF;
        }

        .card-counter.danger {
            background-color: #ef5350;
            color: #FFF;
        }

        .card-counter.success {
            background-color: #66bb6a;
            color: #FFF;
        }

        .card-counter.info {
            background-color: #26c6da;
            color: #FFF;
        }

        .card-counter i {
            font-size: 5em;
            opacity: 0.2;
        }

        .card-counter .count-numbers {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-name {
            position: absolute;
            top: 65px;
            text-transform: capitalize;
            display: block;
            font-size: 13px;
        }

    #pieChart {
        width: 100%;
        height: 100%;
        min-height: 450px;
    }


    .chart--container {
        height: 100%;
        width: 100%;
        min-height: 450px;
    }

    .zc-ref {
        display: none;
    }

    #myChart-license-text {
        display: none !important;
    }

    #myDiv.fullscreen {
        z-index: 9999;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    div[id$="license"] {
        display: none !important;
    }
</style>