@model WebAppEs.ViewModel.Home.DashboasrViewModel
@inject IJsonHelper Json;
@{
    ViewData["Title"] = "Daily Max Fault Analysis";
}
<h1>
    Index
</h1>
<a style="float:right" class="btn btn-info" asp-action="CreateDailyMaxFaultsInfo"> <i class="fa fa-plus pr-2"></i> Create New</a>